/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Open Sans", sans-serif;
}

header {
    font-size: 14px;
    height: 60px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
    filter: drop-shadow(0 0 10px #444444);
}

main > div {
    min-height: 450px;
}

section {
    min-height: 450px
}

footer {
    padding: 80px 30px 30px;
    color: white;
}

/* nav {
    line-height: 30px;
    background-color: aquamarine;
    max-width: 1100px;
    margin: 0 auto;
} */

/* nav > div{
    padding: var(--nav-pd)
} */

/* span {
    margin: 0 5px;
} */

/* img {
    width: 100%;
} */

ul {
    list-style-type: none;
    
    a {
        color: #000;
        text-decoration: none;
        margin-right: 10px;
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 4rem;
}

h2 {
    margin-bottom: 50px;
}

hr {
    width: 20%;
    margin: 50px 0;
    border: 0.5px solid lightgrey;
}

/* Utilities */
/* generics */
.btn {
    background-color: #0055ff;
    color: #fff;
}

.btn-important {
    margin: 30px 0;
    padding: 10px 12px;
}

.btn-important-mouse-on:hover {
    border: 2px solid #a4c8f7;
    padding: 8.4px 10.4px;
}


/* in header */
#logo-anchor {
    display: block;
}

header ul {
    line-height: 60px;
}

header li img {
    display: block;
}

header li {
    margin-right: 10px;
}

header li#logo-anchor-li {
    margin-left: 10px;
}

header .btn-start {
    font-size: 14px;
}

.btn-start {
    margin-right: 10px;
}

/* in sezione-jumbotrone */
.sezione-jumbotrone {
    margin-top: 60px;
}

.container-jumbotrone {
    padding-top: 100px;
    padding-right: 100px;
}

.btn-start-trial::before {
    content: "Inizia la tua prova gratuita";
}

.container-jumbotrone figure {
    width: 60%;
    min-height: var(--mh-sm);
    float: right;
    position: relative;
}

.left-side-text {
    width: 40%;
}

.container-jumbotrone img {
    position: absolute;
    top: 0;
    left: -10px;
    height: 350px;
}

.container-jumbotrone span {
    font-size: 2rem;
}

.container-jumbotrone p:last-of-type{
    margin-bottom: 50px;
}
 
/* in piani-abbonamento */
.piani-abbonamento { 
    padding-top: 100px;
}

.select-invoice {
    margin: 0 20px 30px 0;
    
    > span {
        margin-right: 30px;
    }
}

.month-invoice span,
.annual-invoice span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 4px solid #0055ff;
    border-radius: 8px;
    vertical-align: middle;
}

.annual-invoice span{
    border: 1px solid grey;
}

.column-one-third {
    flex: 0 1 calc(100% / 3 - 60px / 3);
    min-height: 500px;
}

.column-three-third {
    flex-grow: 1;
    min-height: 200px;
}

.plan-people {
    padding: 5px 15px;
    border-bottom: 1px solid lightgrey;
}

.plan-details, .contact-sales-box {
    padding: 25px;
}

.piani-abbonamento h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.plan-details-price {
    line-height: 30px;

    span {
        font-weight: 700;
    }
}
/* list style in plan-details */
.plan-details ul {
    margin-left: 12px;
    /* list-style-position: outside; */

    li {
        margin-bottom: 15px;
    }
}

.plan-details ul.main-aspects-list {
    margin-top: 60px;
}

/* to insert font awesome as pseudo elements */
.icon::marker {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
/*  */

.plan-details ul.main-aspects-list li:first-child::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f007' ' ';
}

.plan-details ul.main-aspects-list li:nth-child(2)::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f07b' ' ';
}

.plan-details ul.main-aspects-list li:last-child::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f1e0' ' ';
}

.plan-details ul.highlights-list li::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #0055ff;
    content: '\f00c' ' ';
}

.plan-details ul.main-aspects-list li.more-members::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0c0' ' ';
}
/*  */

.btn-start-30days {
    width: 100%;
}

.plan-details a {
    color: #2600ff;
}

.plan-details h4 {
    margin: 50px 0 40px;
}

.box-text {
    width: calc(((100% + 50px + 4.8px) / 3 - 60px / 3) * 2);
}

.contact-sales-box p {
    margin-top: 60px;
}

.button-box {
    width: calc((100% + 50px + 4.8px) / 3 - 60px / 3);
}

#btn-contact-sales::before {
    content: "Contatta l'uffcio vendite" 
}

#btn-contact-sales {
    margin: 0;
    width: calc(100% - 50px);
}

.subsection-card-partner-dropbox {
    min-height: var(--mh-xl);
    margin-top: 80px
}

.subsection-card-partner-dropbox img{
    width: 500px;
}

.text-partner-dropbox {
    flex: 1;
    padding: 50px;
}

#btn-find-partner::before {
    content: 'Trova un partner';
}

#btn-find-partner {
    background-color: transparent;
    padding: 9.4px 11.4px;
    border: 1px solid black;
    color: black;
}

#btn-find-partner:hover {
    border: 1px solid #494949;
    background-color: #ccc;
}

/* in dropbox-funzionalità */
.dropbox-funzionalità {
    padding-top: var(--sec-pd-xxxl);
}

/* in utilizzatori-dropbox-business */
.utilizzatori-dropbox-business {
    padding-top: var(--sec-pd-xxxl)
}

/* big-company-using-dropbox */
.big-company-using-dropbox > .row {
    height: 450px;
}

.big-company-using-dropbox .column {
    flex-basis: calc(100% / 3);
}

.side-card-subcontainer, central-card {
    min-height: 100%;
}

.side-card-subcontainer .card {
    flex-basis: 50%;
    flex-shrink: 0;
}

.central-card {
    padding: 30px;
    height: 100%;
}

.big-company-using-dropbox .central-card p {
    margin-bottom: 60px;
}

/* inizia-ora */
.inizia-ora, 
.container-inizia-ora.container-lg {
    min-height: 0;
}

.inizia-ora {
padding: var(--sec-pd-xxxl) 0;
}

.inizia-ora h2,
.inizia-ora .button-container {
    min-height: 30%
}

.inizia-ora h2 {
    margin-bottom: 0;
    flex-basis: 50%;
}

.inizia-ora .btn-start-trial {
    margin: 0;
}

/* domande-frequenti */
.domande-frequenti,
.container-domande-frequenti {
    min-height: 0;
}

.domande-frequenti {
    padding: var(--sec-pd-xxxl) 0;
}

.question-box {
    border-top: solid 2px lightslategray;
}

.question-box:last-child {
    border-bottom: solid 2px lightslategray;
}

.question-box > * {
    line-height: 80px;
}

.question-text {
    width: calc(100% / 3 * 2);
}

.question-box .fa-angle-down {
    margin-right: 30px;
}

/* in footer */
.footer-container.container-xl {
    min-height: 0;
}

.nav-card.container-xl {
    min-height: 0;
    margin-bottom: 100px;
}

.column-links {
    width: calc(100% / 5);
    line-height: 35px;
}

footer h3 {
    margin-bottom: 20px;
}

footer a {
    color: white;
}

footer .separator-div {
    width: 80px;
}

.language-selector-box > .fa-earth-americas {
    margin-right: 10px;
}

.language-selector-box .fa-caret-up {
    font-size: 10px;
}