/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Open Sans", sans-serif;
}

header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
    color: black;
    font-size: 14px;
    height: 60px;
}

main > div {
    min-height: 450px;
}

section {
    min-height: 450px
}

footer {
    padding: 30px;
    color: white;
}

/* nav {
    line-height: 30px;
    background-color: aquamarine;
    max-width: 1100px;
    margin: 0 auto;
} */

/* nav > div{
    padding: var(--nav-pd)
} */

/* span {
    margin: 0 5px;
} */

/* img {
    width: 100%;
} */

ul {
    list-style-type: none;
    
    a {
        text-decoration: none;
        color: white;
        margin-right: 10px;
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 4rem;
}

/* Utilities */

/* in header */
.header-logo img {
    display: block;
    margin: 0 10px;
}

.btn-start {
    margin-right: 10px;
}

/* in .sezione-jumbotrone */
.sezione-jumbotrone {
    margin-top: 60px;
}

.container-jumbotrone {
    padding-top: 100px;
    padding-right: 100px;
}

.btn-start-trial {
    margin: 30px 0;
}

.container-jumbotrone figure {
    width: 60%;
    min-height: var(--mh-sm);
    float: right;
    position: relative;
}

.left-side-text {
    width: 40%;
}

.container-jumbotrone img {
    position: absolute;
    top: 0;
    left: -10px;
    height: 350px;
}

.container-jumbotrone span {
    font-size: 2rem;
}

.container-jumbotrone p:last-of-type{
    margin-bottom: 50px;
}
 
/* in piani-abbonamento */
.piani-abbonamento {
    padding-top: 100px;
}

.selezione-fatturazione {
    display: inline-block;
    margin: 50px 20px 30px 0;
}

.column-one-third {
    flex: 0 1 calc(100% / 3 - 60px / 3);
    min-height: 500px;
}

.column-three-third {
    flex-grow: 1;
    min-height: 200px;
}

.card-partner-dropbox {
    min-height: var(--mh-xl);
    margin-top: 80px
}

.text-partner-dropbox {
    flex-basis: 40%;
}

.card-partner-dropbox figure{
    flex-grow: 1
}



/* in dropbox-funzionalità */
/* in utilizzatori-dropbox-business */
/* designit */
/* inizia-ora */
/* domande-frequenti */
/* in footer */